/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

/* Navbar */
header {
    background-color: #4a52c9;
    color: white;
    padding: 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    font-size: 28px;
}

.navbar nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.navbar nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-icon {
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Banner */
.banner {
    width: 100%;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
}

/* Seções de filmes */
section {
    margin: 30px 0;
}

h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #6600CC;
}

.filmes-slider {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.filmes-slider img {
    width: 150px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
}

.filmes-slider img:hover {
    transform: scale(1.1);
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-logo {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-links a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 14px;
}

.footer-social a img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.footer-soc a img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.footer-soc {
    color: white;
    margin-top: 15px;
}
