* {
    padding: 0;
    margin: 0;
    font-family: roboto;
}

.navbar {
    background: #7B00FF;
}

/*SEÇÃO HOME*/
#home {
    background: url(img/bg\ home.png) no-repeat fixed;
    background-size: cover;
    height: 600px;
    margin-top: 30px;
}

.card {
    background: #1e1e1e;
    color: #FEF9FF;
    width: 300px;
    height: 300px;
    text-transform: uppercase;
    padding: 20px 20px;
    font-style: italic;
    font-weight: bold;
}

/*SEÇAO PLANOS*/

#planos {
    background: url(img/bg_padrao.png) no-repeat fixed;
    background-size: cover;
    background-color: #FEF9FF;
    height: 600px;
    padding: 30px;

}

#planos h1 {
    color: #470094;
    font-weight: bold;
    text-transform: uppercase;
}


/* BOTÕES */
.btn-preto {
    background: #1e1e1e;
    border: 1px solid #1e1e1e;
    border-radius: 5px;
    padding: 8px 25px;
    color: #FEF9FF;
    text-transform: uppercase;

}

.btn-preto:hover {
    background: #0E0E0E;
    border: 1px solid #0E0E0E;
    border-radius: 5px;
    padding: 8px 25px;
    color: #FEF9FF;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-preto:active {
    background: #008CFF;
    border: 1px solid #006692;
    border-radius: 5px;
    padding: 8px 25px;
    color: #470094;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-roxo {
    background: #7B00FF;
    border: 1px solid #7B00FF;
    border-radius: 5px;
    padding: 8px 25px;
    color: #FEF9FF;
    text-transform: uppercase;    
}

.btn-roxo:hover {
    background: #470094;
    border: 1px solid #470094;
    border-radius: 5px;
    padding: 8px 25px;
    color: #FEF9FF;
    text-transform: uppercase;
    font-weight: bold;    
}

.btn-roxo:active {
    background: #008CFF;
    border: 1px solid #008CFF;
    border-radius: 5px;
    padding: 8px 25px;
    color: #470094;
    text-transform: uppercase;
    font-weight: bold;
}