* {
    padding: 0;
    margin: 0;
    font-family: 'roboto', sans-serif;
}


a:hover {
    text-decoration: none;
}

.navbar {
    background: #7B00FF;
}


/*////////   SEÇÃO HOME - INDEX*/


#home {
    background: url(img/bg\ home.png) no-repeat fixed;
    background-size: cover;
    height: 600px;
    margin-top: 30px;
}

#home h2 {
    font-family: 'gotham black';
    font-size: 1.9em;
    margin-bottom: 20px;
}

.card {
    background: #1e1e1e;
    color: #FEF9FF;
    width: 300px;
    height: 300px;
    text-transform: uppercase;
    padding: 20px 20px;
    font-style: italic;
    font-weight: bold;
}

/*////////   SEÇAO PLANOS - INDEX*/

#planos {
    background: url(img/bg_padrao.png) no-repeat fixed;
    background-size: cover;
    background-color: #FEF9FF;
    height: 1050px;
}

#planos h1 {
    font-family: 'gotham black';
    color: #470094;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

#plano1{
    height: 850px;
    width: 300px;
    background: url(img/bg_plano1.png);
    background-size: cover;
    border-radius: 10px;
}

#plano1 button {
    width: 280px;
    height: 80px;
}

#plano2{
    height: 850px;
    width: 350px;
    background: url(img/bg_plano2.png);
    background-size: cover;
    border-radius: 10px;
}

#plano2 button {
    width: 280px;
    height: 80px;
}

#plano3{
    height: 850px;
    width: 350px;
    background: url(img/bg_plano3.png);
    background-size: cover;
    border-radius: 10px;
}

#plano3 button {
    width: 280px;
    height: 80px;
}


/*////////   RODAPE */

#rodape {
    background: #0E0E0E;
    height: 200px;
    position: sticky;
    margin-top: 20px;
}

#rodape li a {
    color: #FEF9FF;
}

#rodape li a:hover {
    color: #7B00FF;
}

#rodape h5 {
    color: #FEF9FF;
    font-size: 1em;
}



/*////////   BOTÕES */

.btn-preto {
    background: #1e1e1e;
    border: 2px solid #1e1e1e;
    border-radius: 5px;
    padding: 8px 25px;
    color: #FEF9FF;
    text-transform: uppercase;

}

.btn-preto:hover {
    background: #0E0E0E;
    border: 2px solid #0E0E0E;
    border-radius: 5px;
    padding: 8px 25px;
    color: #FEF9FF;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-preto:active {
    background: #008CFF;
    border: 2px solid #006692;
    border-radius: 5px;
    padding: 8px 25px;
    color: #470094;
    text-transform: uppercase;
    font-weight: bold;
}


.btn-roxo {
    background: #7B00FF;
    border: 2px solid #7B00FF;
    border-radius: 5px;
    padding: 8px 25px;
    color: #FEF9FF;
    text-transform: uppercase;
    font-weight: bold;    
}

.btn-roxo:hover {
    background: #470094;
    border: 2px solid #470094;
    border-radius: 5px;
    padding: 8px 25px;
    color: #FEF9FF;
    text-transform: uppercase;
    font-weight: bold;    
}

.btn-roxo:active {
    background: #008CFF;
    border: 2px solid #008CFF;
    border-radius: 5px;
    padding: 8px 25px;
    color: #00335C;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-azul1 {
    background: #0060AF;
    border: 2px solid #006692;
    border-radius: 5px;
    padding: 8px 25px;
    color: #FEF9FF;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-azul1:hover {
    background: #00335C;
    border: 2px solid #006692;
    border-radius: 5px;
    padding: 8px 25px;
    color: #FEF9FF;
    text-transform: uppercase;
    font-weight: bold;
}


.btn-azul2 {
    background: #008CFF;
    border: 2px solid #006692;
    border-radius: 5px;
    padding: 8px 25px;
    color: #FEF9FF;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-azul2:hover {
    background: #006692;
    border: 2px solid #008CFF;
    border-radius: 5px;
    padding: 8px 25px;
    color: #FEF9FF;
    text-transform: uppercase;
    font-weight: bold;
}


/*////////   MEDIA QUERIES */

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    .card {
        margin: auto;
    }

 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    .card {
        margin: auto;
    }
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .card {
        margin: auto;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    

 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    
 }



 /*////////   EXEBIÇÃO DO FILME */

 